 /* hoverbox.css */
 *{                        /* 全局声明 */
     border: 0;
     margin: 0;
     padding: 0;
 }
 /* =Basic HTML, Non-essential
 ----------------------------------------------------------------------*/
 a{    text-decoration: none;}
 div{                             /* 定义图层的样式*/
   width:720px;
   height:500px;
   margin:0 auto;
   padding:30px;
   text-align:center;            /*  定义内容居中显示  */
 }
 body{                         /* 定义主体样式 */
     position: relative;         /* 位置属性为相对的 */
     text-align:center;
 }
 h1{                           /* 定义H1的样式  */
     background: inherit;      /* 定义背景属性取值为继承  */
     border-bottom: 1px dashed #097;
     color: #000099;
     font: 17px Georgia, serif;
     margin: 0 0 10px;
     padding: 0 0 35px;
     text-align: center;
 }
 /* =Hoverbox Code
 ----------------------------------------------------------------------*/
 .hoverbox{cursor: default;list-style: none;}    /* 去掉列表项前的符号 */
 .hoverbox a{cursor: default;}
 .hoverbox a .preview{display: none;}          /* 大图初始加载为不显示  */
 .hoverbox a:hover .preview{                   /* 派生选择器声明 */
     display: block;                             /* 以块方式显示 */
     position: absolute;                /* 以绝对方式显示，图可以层叠 */
     top: -33px;             /* 相对当前位置偏移量*/
     left: -45px;             /* 相对当前位置偏移量*/
     z-index: 1;              /* 表示在上层（原小在底层） */
 }
 .hoverbox img{               /* 定义图像样式 */
     background: #fff;
     border-color: #aaa #ccc #ddd #bbb;
     border-style: solid;
     border-width: 1px;
     color: inherit;
     padding: 2px;
     vertical-align: top;
     width: 100px;
     height: 75px;
 }
 .hoverbox li{               /* 定义列表项样式 */
     background: #eee;    /* #eee等同于#eeeeee ,以下格式相同*/
     border-color: #ddd #bbb #aaa #ccc;
     border-style: solid;
     border-width: 1px;
     color: inherit;
     float: left;              /* 设置图像向左浮动 */
     display: inline;          /* 设置为行内显示 */
     margin: 3px;
     padding: 5px;   
     position: relative;       /*位置为相对的方式*/ 
 }
 .hoverbox .preview{        /* 定义大图样式   */
     border-color: #000;
     width: 200px;
     height: 150px;
 }
 ul{padding:40px;margin:0 auto; } /* 定义ul样式 */
