/* edu_11_8_1.css */
*{font-size:12px;padding:0px;margin:0px;}	
a{font-size:14px;}		
#tablel{padding:0px;margin:0px;width:1004px;border:0px;}
#logo{background:#D3D6DD;width:1004px;height:49px;}
#floatl{float:left;width:141px;height:39px;}
#floatr{float:right;text-align:right;width:862px;height:39px;padding:5px 0px;}
#floatr a{text-decoration:none;color:#000000;}
#table1 #table2{padding:0px;margin:0px;width:100%;height:40px;text-align:center;}  
#nav{background:url("bg_blue.jpg");text-align:center;}
#nav a:link,a:visited,a:hover,a:active{
text-decoration:none;color:#FFFFFF;font-size:14px;font-weight:bold;}
#nav td{text-align:center;vertical-align:middle;width:15%;}
#td_left{width:24%;
height:225px;font-size:14px;background:#ECF0F1;color:#67F78;}
#td_left a:link,a:visited,a:hover,a:active{color:#000000;text-decoration:none;}
#td_right{padding:25px;width:76%;height:450px;font-size:12px;color:#67F78;}
#td_left ul,dl{height:180px;line-height:1.5em;}
li,dd,b{padding-left:25px;display:block;color:#67F78;}
dt,#bt1{margin:10px auto;height:24px;background:url("bt_bg_small.jpg") left center no-repeat;font-size:16px;margin-left:15px;
padding:5px auto;border-bottom:1px solid #D2D2D2;}		
#img_bg{width:5px;height:24px;padding:2px;border:0px;}
strong{padding-top:0px;font-size:16px;font-weight:bold;}
#div1{line-height:1.5em;text-indent:2em;color:#67F78;}	
/* footer  */
#footer{text-align:center;margin:15px auto;}		
#footer ul li{list-style:none;line-height:1.5em;}