  h1{
            color:red;
            font-family:"宋体";
        }
        body{
            color:black;
            font-size:9pt;
        }
        .fnt{
            color:blue;
            font-family: "隶书";
            font-size: 14pt;
        }