.me_title {
	background-color: #FFFFCC;
	color: red;
	font-family: "华文彩云";
	font-size: 50pt;
	align-content: center;
	text-align: center;
}


a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover,
a:active {
	color: red;
	text-decoration: underline;
}


#submenu {
	/*定义存放子菜单的图层样式*/
	width: 900px;
	/* 不要为100% */
	height: 28px;
	text-align: center;
	display: inline;
}

#div1 {
	margin: 2px;
	text-align: center;
}

#div2 {
	display: inline;
	position: absolute;
	width: 25%;
}

#div3 {
	display: inline;
	position: absolute;
	width: 75%;
}

#title_div {
	height: 30px;
	text-align: left;
	width: 100%;
	background-color: #FFFFCC;
}

#content_div {
	text-align: center;
	width: 100%;
	height: 268px;
	background-color: #FFCCFF;
	border-right-style: dotted;
	border-right: 1pt;
	border-right-color: #0033FF;
	border-bottom: 2pt;
	border-bottom-style: double;
	border-bottom-color: #99CCFF;
	border-top: 2pt;
	border-top-style: solid;
	border-top-color: #FFCCOO;
}

#guid{
	background-color:#33CCFF;
	height: 19%;
}

#topline {
	height: 50px;
	width: 95%;
	background-color: #33CCFF;
}

ul {
	list-style: none;
	display: block;
	white-space：nowrap;
}

li {
	display: inline-block;
}

input{
	background-color: #FFFFCC;
}